{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-3">Contact Us</h1>
      <hr />

      <div class="row">
        <div class="col-md-6">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d453477.6536737166!2d152.99319645!3d-27.382142900000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b91579aac93d233%3A0x402a35af3deaf40!2sBrisbane%20QLD%2C%20Australia!5e0!3m2!1sen!2sca!4v1709703170346!5m2!1sen!2sca"
            width="100%"
            height="700"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>

        <div class="col-md-6 text-center">
          <strong>Five Star Best breakfast hostel</strong><br />
          12 Rickroll Road<br />
          Brisbane City<br />
          Australia<br />
          (61) 425-255-251<br />
          <a href="mailto:hello@world.com">hello@world.com</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
